mixin demo_color(options)

    .demo-color 
        .demo-color__square(class=options.class)
        .demo-color__text.text-h2
            .demo-color__title #{options.title}
            .demo-color__description.fw-400 #{options.color}