include ./components/form-elements/form-elements-new.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet", href="/dist/form-elements.css")
        title Form Elements
    body 
        header.header 
            img(src = "images/Vector.svg" alt="Logo")
        .container 
            .elements-container_3 
                .mb-input 
                    +text_field({title: 'Text field', placeholder: 'Placeholder'})
                .mb-input 
                    +masked_text_field_date({title: 'Masked Text field'})
                .mb-input 
                    +text_field_subscription({title: 'subscription text field', placeholder:'Email'})
                .mb-input
                    +dropdown_bedrooms({title : 'Dropdown', value: '2 спальни, 2 кровати...'})
                //- .mb-input
                //-     .date-dropdown-wrapper
                //-         +dropdown_guests({title : 'Date Dropdown', value : "ДД.ММ.ГГГГ"})
                //-         +dropdown_guests({title : 'Date Dropdown', value : "19.08.2019"})
                //- .mb-input.mw-dropdowns
                //-     +dropdown_guests({title : 'Filter Date Dropdown', value : "19 авг. - 23 авг."})
                //- .mb-input.mw-dropdowns
                //-     +subscription_field({title: 'Subscription text field', placeholder: 'Email'})
                //- //- .mb-input
                //- //-     +dropdown_bed({title : 'Dropdown guests'})
                //- .mb-input.mw-dropdowns
                //-     +dropdown_bed({title : 'Dropdown', value: '2 спальни, 2 кровати...'})
                
            .elements-container_3 
                .mb-input
                    .text-h3 Checkbox buttons
                .mb-input.mw-dropdowns
                    +check_box({title: 'Можно с питомцами'})
                    +check_box({title: 'Можно с питомцами'})
                    +check_box({title: 'Без труда не выловишь и рыбку из пруда.'})
                    +check_box({title: 'Можно с питомцами'})
                    +check_box({title: 'Можно с питомцами'})
                    +check_box({title: 'Можно с питомцами 2', disabled: true})
                    +check_box({title: 'Можно с питомцами', checked : true})
                    +check_box({title: 'Можно с питомцами 2', disabled: true, checked : true})
                .mb-input
                    .text-h3 Radio buttons
                .mb-input
                    +radio_button({title: 'Мужчина', name: 'animal'})
                    +radio_button({title: 'Женщина', name: 'animal'})
                .mb-input
                    +radio_button({title: 'Можно с питомцами 3', name: 'animal', disabled: true})
                    +radio_button({title: 'Без труда не выловишь и рыбку из пруда.', name: 'animal'})
                .mb-input 
                    .text-h3 Toggle button
                .mb-input 
                    +toggle_button({title : 'Получать спецпредложения'})
                    +toggle_button({title : 'Получать спецпредложения', disabled: true})
                .mb-input 
                    .text-h3 Like button
                .mb-input 
                    +like_button({count: 5})
                    span(style="padding: 10px")
                    +like_button({count: 5, active: true})
                .mb-input 
                    .text-h3 Rate buttons
                .mb-input 
                    div
                        +rate_buttons({id_prefix: '1', name: "r1"})(data-rate=3)
                    div
                        +rate_buttons({id_prefix: '2', name: "r2"})(data-rate=4)
                    div
                        +rate_buttons({id_prefix: '3', name: "r3"})(data-rate=1)
            .elements-container_3 
                .mb-input 
                    .text-h3 Range slider
                .mb-input 
                    +rage_slider()
        .container 
            .elements-container_3 
            .elements-container_3 
            .elements-container_3