@import './core/all';
@import './components/demo-color/demo-color';
@import './components/all';

.header{
    padding: 30px;
    margin-bottom: 40px;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    // padding: 20px;
    flex-wrap: wrap;
}

.elements-container_3{
    flex-basis: 33.33%;
    // border : 1px solid #444;
    padding: 20px;
    // margin: 0 20px 0 20px;

    @media screen and (max-width: 900px) {
        flex-basis: 100%;
    }
}

.colors, .type{
    flex-basis: 50%;
}

.type{
    max-width: 430px;
}

.type__wrapper{
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 30px;
    margin-bottom: 50px;
}

.type__title{
    text-align: right;
}

.mb-input{
    margin-bottom: 18px;
}

.mw-dropdowns{
    max-width: 265px;
}

.date-dropdown-wrapper{
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 20px;
}